@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    color: black
}

/*-----------navbar------------*/

#logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    right: 0;
    top: 12px;
}

.navbar-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.bg-nav-bar {
    background-color: #5da3fd;
    min-height: 75px;
}

/*-----------home------------*/

.container-home {
    height: 450px;
    position: relative;
}

.header-home {
    color: #ffefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 250px; 
    width: 50%;
 }

 .divider {
    width: 400px;
    text-align: center;
    background-color: #5da3fd;
}

@media only screen and (max-width: 430px) {
    .divider {
        width: 75%;
    }
}

/*-----------resumes------------*/

.btn-edit {
    background: #5da3fd;
    color: #110e0e;
    margin: 30px 10px 20px 0 ;
    height: 80px;
    width: 100px;
}

.btn-del {
    background: #BE1526;
    color: #fd0707;
    margin: 30px 10px 20px 0;
    height: 50px;
    width: 100px;
}



.inst-list {
    list-style: none;
}

.resume-field {
    margin-left: 40px;
}

.resume-field-list{
    margin-left: 20px;
}

.border-search-bar {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px #269014 solid;
}

.pagination-arrow {
    color: black;
}

.card-border {
    border:none;
}

.card-info {
    color: black;
}

.card-img {
    padding: 10px;
    border: none;
    max-height: 190px; 
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .img-h {
        max-height: 245px;
    }
}

.page-title {
    margin-top: 120px;
}

.title-center-text {
    margin: 0 auto;
}
