@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    color: black
}

/*---------navbar----------*/

#logo {
    font-family: 'Josefin Sans', sans-serif;
    right: 0;
    top: 15px;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

.navbar-links {
    font-family: 'Open Sans', sans-serif;
    margin-right: 12px;
    font-size: 18px;
    color: #ffffff;
}

.bg-nav-bar {
    min-height: 70px;
    background-color: #5da3fd;
}

/*---------home----------*/

.container-home {
    height: 450px;
    position: relative;
}

.header-home {
    color: #ffefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 250px; 
    width: 50%;
 }

 .seperate {
    width: 400px;
    text-align: center;
    background-color: #5da3fd;
}

@media only screen and (max-width: 430px) {
    .seperate {
        width: 75%;
    }
}

/*---------resumes----------*/

.btn-edit {
    background: #5da3fd;
    color: #2eadf7;
    margin: 30px 10px 20px 0 ;
    height: 40px;
    width: 100px;
}

.btn-del {
    background: #BE1526;
    color: #ff2e2e;
    margin: 30px 10px 20px 0;
    height: 40px;
    width: 100px;
}



.inst-list {
    list-style: none;
}

.resume-area {
    margin-left: 35px;
}

.resume-area-list{
    margin-left: 25px;
}



.pagination-arrow {
    color: black;
}

.card-border {
    border:none;
}

.card-info {
    color: black;
}

.card-img {
    padding: 10px;
    border: none;
    max-height: 190px; 
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .img-h {
        max-height: 245px;
    }
}

.page-title {
    margin-top: 120px;
}

.title-center-text {
    margin: 0 auto;
}
