{% extends 'base.html' %}
{% block content %}
<div class="container page-title">
    <h1 class="mt-5 mb-3">Add Resume to TechRecruit Database</h1>
    <form action="{{ url_for('insert_recipe') }}" method="POST">
        <div class="form-group">
            <label for="name">Client Name</label>
            <input name="name" type="text" class="form-control" id="name" required>
        </div>


<!--test drop down job sector menu-->
        <div class="form-group">
            <label for="job_sector">Job Sector</label>
            <select class="form-control" name="job_sector" id="job_sector" required>
                {% for cv in resumes %}
                <option value="{{resumes.job_sector_title}}">{{resumes.job_sector_title}}</option>
                {% endfor %}
            </select>
        </div>




        <div class="form-group">
            <label for="cover_letter">Cover Letter</label>
            <textarea name="cover_letter" rows="3" class="form-control" id="cover_letter"
                placeholder="A cover letter should be one-page long at the maximum. A good, concise cover letter contains 3 to 4 paragraphs and no more than 400 words in total. "
                required></textarea>
        </div>
        <div class="form-group">
            <label for="work_duties">Work Duties</label>
            <input name="work_duties" type="text" class="form-control" id="work_duties" placeholder="Example: '6 to 8' "
                required>
        </div>
        <div class="form-group">
            <label for="skills">Skills</label>
            <textarea name="skills" rows="3" class="form-control" id="skills"
                placeholder="Please separate all skils using a comma(,). Example: Microsoft Word, C# Programming, ..." required></textarea>
        </div>
       
    </form>
</div>
{% endblock %}