{% extends 'base.html' %}
{% block content %}
<div class="container page-title">
    <h1 class="mt-5 mb-3">Edit Resume</h1>
    <form action="{{ url_for('update_resume', resume_id=resume._id) }}" method="POST">
        <div class="form-group">
            <label for="name">Resume Name</label>
            <input name="name" type="text" class="form-control" id="name" value="{{resume.name}}" required>
        </div>


        <div class="form-group">
            <label for="job_title">Job Title</label>
            <select class="form-control" name="job_title" id="job_title" required>
                {% for job_title in job_title %}
                    {% if job_title.job_title == resume.job_title %}
                    <option value="{{job_title.job_title}}" selected>{{job_title.job_title}}</option>
                    {% else %}
                    <option value="{{job_title.job_title}}">{{job_title.job_title}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label for="work_duties">Work Duties</label>
            <textarea name="work_duties" rows="3" class="form-control" id="work_duties"
                required>{{resume.work_duties}}</textarea>
        </div>
        <div class="form-group">
            <label for="skills">Skills</label>
            <textarea name="skills" rows="3" class="form-control" id="skills" required>{{resume.skills}}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Image URL</label>
            <input name="image" type="url" class="form-control" id="image" value="{{resume.image}}">
        </div>
        <div class="text-center">
            <button class="btn btn-sucess" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}