{% extends 'base.html' %}
{% block content %}
<div class="container page-title">
    <h1 class="mt-5 mb-3">Edit Resume</h1>
    <form action="{{ url_for('update_resume', resume_id=resume._id) }}" method="POST">
        <div class="form-group">
            <label for="name">Resume Name</label>
            <input name="name" type="text" class="form-control" id="name" value="{{resume.name}}" required>
        </div>
        <div class="form-group">
            <label for="cuisine">Job Title</label>
            <select class="form-control" name="cuisine" id="cuisine" required>
                {% for job in job_sector_title %}
                    {% if job.job_sector_title == resume.job_title %}
                    <option value="{{job_title.job_sector_title}}" selected>{{job_title.job_sector_title}}</option>
                    {% else %}
                    <option value="{{job_title.job_sector_title}}">{{job_title.job_sector_title}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="ingredients">Work Duties</label>
            <textarea name="ingredients" rows="3" class="form-control" id="ingredients"
                required>{{resume.work_duties}}</textarea>
        </div>
        <div class="form-group">
            <label for="tools">Skills</label>
            <textarea name="tools" rows="3" class="form-control" id="tools" required>{{resume.skills}}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Image URL</label>
            <input name="image" type="url" class="form-control" id="image" value="{{resume.image}}">
        </div>
        <div class="text-center">
            <button class="btn btn-edit" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}