{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h3 class="sub-headers text-center font-weight-bold mt-5">/////////</h3>
	<hr class="divider mb-4">
	<div class=" ">
		<div class="row row-cols-2 row-cols-md-3">			
		</div>
		<h3 class="sub-headers text-center font-weight-bold">Most Viewed</h3>
		<hr class="divider mb-4">
		<div class="">
			<div class="row row-cols-1 row-cols-md-3">	
				<a href="{{url_for()}}">
					<div class="col mb-4 card-info">
						<div class="card card-border">				
							</div>
						</div>
					</div>
				</a>
				
			</div>
		</div>
	</div>
</div>


{% endblock %}