{% extends 'base.html' %}
{% block content %}
<div class="container page-title">
    <h4>{{resume.name}}</h4>
    <div class="text-center">
        <img src="/static/images/resume_icon.png" class="mb-5 mt-5 resume-img">
    </div>
    <h2>Job Title</h2>
    <div class="resume-area">
        <p>{{resume.job_title}}</p>
    </div>
    <h4>Cover Letter</h4>
    <div class="resume-area">
        <p>{{resume.cover_letter}}</p>
    </div>
    <h4>Work Duties</h4>
    <ul class="resume-area-list">
        {% for duties in resume.work_duties.split(",") %}
        <li>{{duties.title()}}</li>
        {% endfor %}
    </ul>
     <h4>Skills</h4>
    <ul class="resume-area-list">
        {% for skills in resume.skills.split(",") %}
        <li>{{skills.title()}}</li>
        {% endfor %}
    </ul>
    
    <div class="col-md-12 text-center">
        <form id="edit_form" action="{{url_for('edit_resume', resume_id=resume._id)}}" method="GET"></form>
        <button form="edit_form" type="submit" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title-center-text" id="exampleModalLongTitle">Delete Resume</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the resume?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        <form method="POST" action="{{url_for('delete_resume', resume_id=resume._id)}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}